*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Comfortaa', sans-serif;
    background: #F3F6FD;
    
}
.none{
    display: none;
}

.app{
    display: flex;
   gap:50px;

}

.panel{
    background-color: white;
    min-height: 100vh;
    padding: 2.2%;
}
.logo{
margin-bottom: 48px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
}

.menu__list{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}
.menu__item{
    border-radius: 14px;
background: #FFF;
box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
border:none;
width: 45px;
cursor: pointer;
height: 45px;
}
.menu__add{
    border-radius: 14px;
border: 1px solid #CAD5FF;
width: 45px;
height: 45px;
background-color: transparent;
cursor: pointer;

}
.menu__add:hover{
    background: #e9e9fa;
}
.menu__item:hover{
    background: #6A6AFB;
}
.menu__item:hover img{
    filter: brightness(0) invert(1);
}
.menu__item-active{
    background: #5051F9;
}

.menu__item-active img{
    filter: brightness(0) invert(1);
}
.content{
    padding: 45px;
    width: 70%;
}
header{
    display: flex;
    justify-content: space-between;
   align-items: center;

}
header  h1{
    font-size: 30px;
    line-height: 33px;
    color:#000000;
}
.progress{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 235px;
}
.progress__text{
    display: flex;
    justify-content: space-between;
    
}
.progress__name{
    font-size: 14px;line-height: 16px;
    color: #232360;
    font-weight: 600;
}

.progress__percent{
    font-size: 12px;
    line-height: 13px;
    color:#768396;
}

.progress__bar{
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background: #E6E9ED;
}
.progress__bar-cover{
    
    
    transition: all 0.4s;
    border-radius: 4px;
background: #5051F9;
}
.content main{
margin-top: 30px;    
}
.habit{
    display: flex;
    border-radius: 10px;
background: #FFF;
align-items: center;
margin-bottom: 12px;
}
.habit__day{
    background-color: #cbc8d8;
    border-radius: 10px 0 0 10px;
    color: #000;
font-family: Comfortaa;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-right: 1px solid #E7EBFB;
font-size: 14px;
line-height: 16px;
padding: 20px 40px;
min-width: 150px;
}
.habit__comment{
    color: #23235F;
font-family: Comfortaa;
font-size: 16px;
font-style: normal;
font-weight: 600;
padding-left: 24px;
line-height: normal;
}
.habit__delete{
    margin-left: auto;
    padding-right: 15px;
    background: none;
    border:none;
    cursor: pointer;
}

.input__icon{
    border-radius: 9px;
border: 1px solid #E7EBFB;
background: #FFF;  
padding: 12px 44px;
color:#000;
font-family: Comfortaa;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
flex:1;
outline: none;
}
.input__icon::placeholder{
    color: #8899A8;
}

input.error {
    border:  1px solid  red; 
}

.habit__form{
    display: flex;
    gap:10px;
  
    padding-right: 6px;

    width: 100%;

}
.com{
    position: relative;
    left: 50px;
}
.habit__add{
    border-radius: 9px;
background: #EDECFE;
color: #5051F9;
font-family: Comfortaa;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
border:none;
padding: 14px  30px;
cursor: pointer;
}
.habit__add:hover{
background-color: #d9d7e4;
}

.cover{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover_hidden{
    display: none;
}

.popup{
    border-radius: 10px;
background: #FFF;
box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
width: 600px;
padding: 22px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}

.popup__close{
    position: absolute;
    right: 15px;
    top: 15px;
    border:none;
    background: none;
    cursor: pointer;
}
.cover h2{
    color: #000;
text-align: center;
font-family: Comfortaa;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.icon-label{
    color: #768396;
font-family: Comfortaa;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 11px;
}
.icon-select{
    display: flex;
    gap:25px;
    margin-bottom: 20px;
}
.icon{
    border-radius: 14px;
border: 1px solid #5051F9;
background: white;
display: flex;
justify-content: center;
align-items: center;
width: 45px;
height: 45px;
cursor: pointer;
}

.icon_active{
    background: #5051F9;
}
.icon:hover{
    background: #6A6AFB;
    transition: .2s;
    
}
.icon:hover img{
    filter:  brightness(0) invert(1);
}
.icon_active img{
    filter:  brightness(0) invert(1);
}

.popup__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:7px;
}
.popup__form  input{
    width: 100%;    
}

@media(max-width:950px){
    .habit__add{
        padding: 10px  21px;
    }
    .content{
        
        padding: 1.8%;
    }
    .habit__day{
        padding: 16px 21px;
        min-width: 100px;
    }
    .panel{
        padding: 1.8%;
    }
}

@media(max-width:800px){
    .input__icon{
        max-width: 250px;
    }
    .habit__form{
        justify-content: space-between;
        align-items: center;
       
    }
    .app{
        gap: 25px;
    }
  
}

@media(max-width:730px){
    .input__icon{
        width: 120px;
    }
    .content{
   
       padding: 20px 35px;
    }
}

@media(max-width:650px){
    .app{
        display: none;
    }
 
    .none{
        display: block;
        text-align: center;
        padding-top: 49.9%;
    }
}